<% if commit.success? %>
  <%= link_to 'Deploy in progress...', '#', class: 'btn disabled deploy-action', data: {:'if-stack-status' => :deploying} %>
  <%= link_to 'Deploy', new_stack_deploy_path(@stack, sha: commit.sha), class: 'btn deploy-action', data: {'if-stack-status' => :default} %>
<% elsif commit.pending? %>
  <a href="#" class="btn disabled deploy-action">Pending...</a>
<% elsif commit.failure? %>
  <a href="#" class="btn disabled failure deploy-action">Failure</a>
<% elsif commit.error? %>
  <a href="#" class="btn disabled error deploy-action">Error</a>
<% else %>
  <a href="#" class="btn disabled unknown deploy-action">Not Run</a>
<% end %>
