<% if commit.success? %>
  <%= link_to '#', class: 'btn disabled deploy-action', data: {:'if-stack-status' => :deploying} do %>
    <span>Deploy in progress...</span>
  <% end %>
  <%= link_to new_stack_deploy_path(@stack, sha: commit.sha), class: 'btn deploy-action', data: {'if-stack-status' => :default} do %>
    <span>Deploy</span>
  <% end %>
<% elsif commit.pending? %>
  <a href="#" class="btn disabled deploy-action"><span>Pending...</span></a>
<% elsif commit.failure? %>
  <a href="#" class="btn disabled failure deploy-action"><span>Failure</span></a>
<% elsif commit.error? %>
  <a href="#" class="btn disabled error deploy-action"><span>Error</span></a>
<% else %>
  <a href="#" class="btn disabled unknown deploy-action"><span>Not Run</span></a>
<% end %>
