<% content_for :page_title do %>
  <span><%= repository.owner %></span>
  <h1><%= repository.name %></h1>
<% end %>

<% content_for :secondary_navigation do %>
  <ul class="nav__list nav__list--primary">
    <li class="nav__list__item">
      <%= link_to 'Settings', repository_settings_path(repository) %>
    </li>
  </ul>
<% end %>
