<h1>☃ Snowman says no</h1>
<p>Shipit is missing some information to work properly</p>

<h2>Github Application</h2>
<% if Shipit.github_oauth_id.blank? || Shipit.github_oauth_secret.blank? %>
  <p><%= missing_github_oauth_message %></p>
<% end %>
<div id="github_oauth_id">
  ID:
  <% if Shipit.github_oauth_id.present? %>
    <p>Success!</p>
  <% else %>
    <p>Missing</p>
    <p><%= missing_github_oauth_id_message %></p>
  <% end %>
</div>

<div id="github_oauth_secret">
  Secret:
  <% if Shipit.github_oauth_secret.present? %>
    <p>Success!</p>
  <% else %>
    <p>Missing</p>
    <p><%= missing_github_oauth_secret_message %></p>
  <% end %>
</div>

<h2>Github API</h2>
<div id="github_api" %>
  <% if Shipit.github_api_credentials.present? %>
    <p>Success!</p>
  <% else %>
    <p>Missing</p>
    <p><%= missing_github_api_credentials_message %></p>
  <% end %>
</div>
