// =============================================================================
// BUTTONS
// =============================================================================

.btn {
  display: inline-block;
  font-family: inherit;
  background: #fff;
  color: $blue;
  border: 1px solid rgba(#000, 0.12);
  padding: .75em 1em;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.btn--primary {
  background-color: $blue;
  color: #fff;
  border: none;
}

.btn--disabled {
  color: #999;
  background-color: #fafafa;
}

.btn--large {
  font-size: 1rem;
  padding: 1em 1.25em;
}
