// =============================================================================
// BUTTONS
// =============================================================================

.btn {
  display: inline-block;
  font-family: inherit;
  background: #fff;
  color: $blue;
  padding: .75em 1em;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 0 1px rgba(#000, 0.15);
}

.btn--primary {
  background-color: $blue;
  color: #fff;
  box-shadow: none;
  &.btn--disabled {
    box-shadow: 0 0 0 1px rgba(#000, 0.15);
  }
  &.btn--warning {
    background-color: $yellow;
  }
}

.btn--disabled {
  color: #999;
  background-color: #fafafa;
  cursor: default;
}

.btn--delete {
  color: #fff;
  border: none;
  background-color: $bright-red;
  &.btn-disabled {
    color: #999;
    background-color: $light-red;
  }
}

.btn--alert {
  color: #fff;
  background-color: $orange;
  &.btn-disabled {
    color: #999;
    background-color: $light-orange;
  }
}

.btn--large {
  font-size: 1rem;
  padding: 1em 1.25em;
}
