// =============================================================================
// COLORS
// =============================================================================

$orange: #EDAA4E;
$banner-blue: #96A9BA;
$banner-red: #EE6A6A;
$blue: #248AF2;
$green: #25C351;
$red: #F39494;
$bright-red: #F73B3B;
$light-red: #ffd9d6;
$yellow: #FFC66C;
$dark_yellow: #CEA61B;
$orange: #FFAD4C;
$light-orange: #ffebcc;
$slate: #2E343A;
$terminal-black: #272C30;
$background-grey: #FAFAFA;
