// =============================================================================
// FORMS
// =============================================================================

form + form {
  margin-top: 1rem;
}

input[type=text], input[type=password], select, textarea {
  display: block;
  font-size: .875rem;
  border-radius: 4px;
  border: 1px solid rgba(#000, .15);
  padding: .75rem;
  width: 100%;
  max-width: 600px;

  label + & {
    margin-top: .75rem;
  }
}

textarea {
  height: 6rem;
}

.field-wrapper {
  margin-bottom: 1.5rem;
}
