// =============================================================================
// SECTION HEADER
// =============================================================================

.section-header {
  border-bottom: 1px solid rgba(#000, 0.1);
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.section-header__title {
  flex-grow: 1;
  margin-top: 1rem;
}

.section-header__action-btn {
  margin: .5rem 0;

  &:not(:last-child) {
    margin-right: .5rem;
  }
}
