<section>
  <header class="section-header">
    <h2>Checklist</h2>
  </header>

  <ul class="checklist">
    <%- stack.checklist.each do |check| -%>
      <li>
        <label>
          <%= check_box_tag :checklist %>
          <%= sanitize(check, tags: %w(a strong), attributes: %w(href target)) %>
        </label>
      </li>
    <%- end -%>
  </ul>
</section>
