<section>

<div class="wrapper">
  <header class="section-header">
    <div class="status" data-deploy-status="<%= @deploy.status %>">
      <i></i>
    </div>
    <h1>Deploying <%= @deploy.until_commit.short_sha %></h1>
  </header>

</div>

<pre>
  <code data-next-chunks-url="<%= next_chunks_url %>"><%= @deploy.chunk_output %></code>
</pre>
</section>
