<h1>Stacks</h1>

<ul>
  <% @stacks.each do |stack| %>
    <li>
      <a href="<%= stack_path stack %>">
        <%= stack.repo_owner %>/<%= stack.repo_name %> <small><%= stack.environment %></small>
      </a>
    </li>
  <% end %>
</li>
