<h1>Settings for <%= @stack.repo_owner %>/<%= @stack.repo_name %> <small><%= @stack.environment %></small></h1>

<%= button_to "Delete", stack_path(@stack), :method => :delete, :confirm => "Are you sure?" %>
