<section class="warning concurrent-deploy">
  <h2><%= render_github_user(@stack.active_deploy.author) %> is already deploying!</h2>
  <ul>
    <li>Are you sure you want to deploy concurrently?</li>
  </ul>
</section>
