<section class="warning concurrent-deploy">
  <h2><%= render_github_user(@stack.active_task.author) %> is already deploying!</h2>
  <ul>
    <li>Are you sure you want to deploy concurrently?</li>
    <li>
      <%= check_box_tag :force, true, false, class: 'required' %>
      Yes I know what I'm doing.
    </li>
  </ul>
</section>
