development:
  secret_key_base: 66c10caa016fd639c1d1d1d09647b3acf9e39defcee7db95b2e64e0baed5ec4f7ebd2addf0cc9593a75a20dd3bb7d1d70a096c2f32d7c5f3d31a7ff8896f85ca
  github: false
  github_credentials:
    # access_token:
    # login:
    # password:
    # api_endpoint:
  authentication: false
  # host: https://57212e00.ngrok.com
  # authentication:
  #   provider: google_oauth2
  #   gem: omniauth-google-oauth2
  #   parameters:
  #     - "<%= ENV['GOOGLE_KEY'] %>"
  #     - "<%= ENV['GOOGLE_SECRET'] %>"

test:
  secret_key_base: 66c10caa016fd639c1d1d1d09647b3acf9e39defcee7db95b2e64e0baed5ec4f7ebd2addf0cc9593a75a20dd3bb7d1d70a096c2f32d7c5f3d31a7ff8896f85ca
  host: https://example.com
  authentication:
  github:
    key: 1d
    secret: s3cr37
  redis_url: "redis://127.0.0.1:6379/7"
