development:
  github: false
  github_credentials:
    # access_token:
    # login:
    # password:
    # api_endpoint:
  authentication: false
  # host: https://57212e00.ngrok.com
  # authentication:
  #   provider: google_oauth2
  #   gem: omniauth-google-oauth2
  #   parameters:
  #     - "<%= ENV['GOOGLE_KEY'] %>"
  #     - "<%= ENV['GOOGLE_SECRET'] %>"

test:
  host: https://example.com
  authentication:
  github:
    key: 1d
    secret: s3cr37
