// =============================================================================
// HEADER
// =============================================================================

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}


// HEADER
// -----------------------------------------------------------------------------

.header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  color: $grey;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  padding: spacing(loose) 0;
  position: relative;
}

.header__page-title {
  flex-grow: 1;
}

.header__page-actions {

}

.header__btn {
  margin: 0.4em 0.5em 0.4em 0;
}

.powered-by {
  float: right;
  position: relative;
  top: spacing(tight);
  right: spacing();
  font-size: 12px;
  color: $grey;
}


// LOGO
// -----------------------------------------------------------------------------

.logo {
  background: asset-data-url('anchor.svg') center center no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  right: 100%;
  margin-right: spacing();
  margin-top: -20px;

  &:hover {
    transform: rotate(-25deg);
  }
}
