// =============================================================================
// HEADER
// =============================================================================

.wrapper {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}


// HEADER
// -----------------------------------------------------------------------------

.header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
  color: $grey;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  padding: $spacing-loose 0;
  position: relative;
}

.header__page-title {
  flex-grow: 1;
}

.header__page-actions {

}

.header__btn {
  margin: 0.4em 0.5em 0.4em 0;
}

.powered-by {
  float: right;
  position: relative;
  top: 0.5rem;
  right: 1rem;
  font-size: 12px;
  color: $grey;
}


// LOGO
// -----------------------------------------------------------------------------

.logo {
  background: asset-data-url('anchor.svg') center center no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  transition: transform .3s ease-in-out;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  right: 100%;
  margin-right: 1em;
  margin-top: -20px;

  &:hover {
    transform: rotate(-25deg);
  }
}


// NAVIGATION
// -----------------------------------------------------------------------------

.nav {
  display: flex;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav__list--primary {
  flex-grow: 1;
}

.nav__list__item {
  display: inline-block;
  cursor: pointer;
  color: $blue;
  padding-bottom: $spacing-loose;

  + .nav__list__item {
    margin-left: $spacing-loose;
  }
}

.nav__list__sub__item {
  list-style: none;
  white-space: nowrap;

  + .nav__list__sub__item {
    margin-top: $spacing-tight;
  }
}

.nav__sub__list {
  position: absolute;
  top: calc(100% - #{$spacing-tight});
  z-index: 20;
  background-color: white;
  padding: $spacing-tight;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  border: 1px solid $grey-light;
  border-radius: 3px;
  transition:
    opacity 0.25s ease-in-out,
    transform 0.25s ease-in-out;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    z-index: 10;
    background-color: white;
    border: 1px solid $grey-light;
    border-right-color: transparent;
    border-bottom-color: transparent;
    height: 12px;
    width: 12px;
    transform: rotate(45deg);
  }
}

.nav__list__item--has-children {
  position: relative;
  display: inline-flex;

  &::after {
    display: inline-block;
    content: '';
    background-image: asset-data-url('caretDown.svg');
    width: 20px;
    height: 20px;
  }

  &:hover .nav__sub__list {
    opacity: 1;
    pointer-events: initial;
    transform: translateY(0);
  }
}
