.main {
  @include flex(1);
  padding-bottom: 3rem;
  &.no-footer {
    padding-bottom: 0;
  }
}

  section {
    margin-top: 3rem;

    &.warning {
      background-color: orange;
      padding: 1rem;
      text-align: center;

      li {
        list-style-type: none;
        padding-bottom: 0.5rem;
      }
    }
  }

  .section-header {
    border-bottom: 1px solid rgba(#000, 0.1);
    padding-bottom: 1rem;
    @include clearfix;

      h2 {
        float: left;
      }

      .header-accessory {
        float: right;
          & > a {
            padding: .7rem 0;
            display: inline-block;
            & + a { margin-left: 1rem; }
          }
        & > p {
          margin: 0;
          padding: .7rem 0;
          color: $grey;
          font-size: .875rem;
            .repo-name { font-weight: 500; color: #777; }
        }
      }

  }

pre {
  background-color: $terminal-black;
  min-height: 100%;
  overflow-x: auto;
  color: #fff;
  padding: 1.5rem;
  line-height: 1.5em;
  font-family: "Source Code Pro";
  white-space: pre-wrap;
  &.nowrap {
    white-space: pre;
    margin-top: -.25rem;
    margin-bottom: 0rem;
  }
}

.number {
  font-family: Menlo, monospace;
}

.repo-header {
  background-color: $blue;
  padding: 1.75rem 0;
  @include clearfix;
    &.success { background-color: $green; }
    &.failure { background-color: $bright-red; }

  a {
    color: #fff;
  }

  .repo-name {
    float: left;
      h1 a {
        text-transform: capitalize;
      }
  }

  p {
    font-size: .75rem;
    color: rgba(#000, .4);
    margin: 0;
  }

  h1 {
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: 0;
    small { color: rgba(#000, .4); font-size: 1em; font-weight: 200; text-transform: capitalize; }
  }

  .header-accessory {
    float: right;
    margin-top: 1.35rem;
    a + a { margin-left: .5rem; }
  }

  .deploy-url {
    color: rgba(#fff, .5);
    font-size: .75em;
  }
}

.notice {
  background-color: #f0f4f7;
  padding: 1rem 1.5rem;
  -webkit-animation: notice-slide-in .3s .6s ease-in-out backwards;
  overflow: hidden;

    .message {
      float: left;
    }

    .cta {
      float: right;
    }

    h3 {
      font-size: 1rem;
      margin: 0;
      color: #4b5866;
    }

    p {
      font-size: .875rem;
      color: #828d96;
      margin: 0;
    }

}

.less-important {
    color: $grey;
    margin-bottom: 0em;
    margin-top: 5em;
    p {
        margin-top: 1.5rem;
        margin-bottom: 0.5em;
    }
}

@include keyframes(notice-slide-in) {
  0% { margin-top: -74px; }
}
