.main {
  @include flex(1);
  padding-bottom: 3rem;
}

  .wrapper {
    padding: 0 10%;
    max-width: 1000px;
    margin: 0 auto;
  }

  section {
    margin-top: 2rem;
  }

  .section-header {
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding-bottom: .5rem;
    @include clearfix;

      h2 {
        float: left;
      }

      .header-accessory {
        float: right;
          & > a {
            padding: .7rem 0;
            display: inline-block;
            & + a { margin-left: 1rem; }
          }
        & > p {
          margin: 0;
          padding: .7rem 0;
          color: #999;
          font-size: .875rem;
            .repo-name { font-weight: 500; color: #777; }
        }
      }

  }

pre {
  background-color: rgba(#2E343A, .9);
  overflow: scroll;
  color: #fff;
  padding: 1.5rem;
  line-height: 1.5em;
  margin-top: -.25rem;
  font-family: "Source Code Pro";
  white-space: pre-wrap;
}

.repo-header {
  background-color: $blue;
  padding: 1rem 0;
  @include clearfix;
    &.success { background-color: $green; }
    &.failure { background-color: $bright-red; }

  a {
    color: #fff;
  }

  .repo-name {
    float: left;
  }

  p {
    font-size: .875rem;
    color: rgba(#000, .3);
    margin: 0;
    &:hover { color: rgba(#000, .4); }
  }

  h1 {
    color: #fff;
    font-size: 2rem;
    small { color: rgba(#000, .4); font-size: 1em; font-weight: 200; text-transform: capitalize; }
  }

  .header-accessory {
    float: right;
    margin-top: 1rem;
    a + a { margin-left: .5rem; }
  }

  p.deploy-url {
    color: white;
  }
}
