$navigation-width: 100%;

.navigation {
  background-color: #fafafa;
  border-bottom: 1px #ebebeb solid;
  width: $navigation-width;
  padding: 30px;
  box-sizing: border-box;
  @include order(-1);

  button.notifications {
    backgroud-color: #00CCFF;
    font-size: 14px;
  }
}

.navigation__inner {
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.navigation__inner--last {
  padding: 0 0 0 56px;
  margin: 0 auto -30px auto;
  box-sizing: border-box;
}

.navigation__inner__logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;

  div {
    margin: 0 4px;
  }
  p, h1 {
    margin-bottom: 0;
  }

  p {
    color: #a5a5a5;
  }

  h1 {
    line-height: .8;
  }

  small {
    font-size: .5em;
    color: #888;
  }
}

.navigation__inner__item {
  flex-grow: 1;
  margin-bottom: 16px;

  a {
    font-size: .9em;
    padding: 0 0 15px 0;
    margin: 0 20px 0 0;
    border-bottom: 2px solid #2c8ce1;
  }
}

.navigation__inner__item--fixed {
  flex-grow: 0;

   a {
    border: none;
  }
}

.logo {
  display: block;
  -webkit-transition: background-color .3s ease-in-out;

    span {
      background: asset-data-url('logo.svg') top right no-repeat;
      height: 35px;
      display: inline-block;
      width: 80px;
      overflow: hidden;
      text-indent: -999999px;
      line-height: 1;
    }

    i {
      background: asset-data-url('anchor.svg') center center no-repeat;
      display: inline-block;
      width: 40px;
      height: 40px;
      -webkit-transition: -webkit-transform .3s ease-in-out;
      margin-right: .25rem;
      vertical-align: bottom;
    }
  &:hover i {
    -webkit-transform: rotate(-25deg);
  }
}

.stack {
  padding: 2.25rem 0;
  + .stack { border-top: 1px solid rgba(#fff, .1); }
}

.sidebar-plugins-outer {
  // width: $navigation-width;
  overflow: hidden;
}

.sidebar-plugins {
  // width: $navigation-width + 15px;
  overflow-y: auto;
}

.sidebar-plugins::-webkit-scrollbar {
  display: none;
}

.sidebar-plugins-outer.fixed {
  position: fixed;
  top: 0px;
}

.sidebar-plugin {
  max-width: 280px;
  padding: 10px;
  clear: both;
}
