$navigation-width: 100%;

.navigation {
  background-color: #fafafa;
  border-bottom: 1px #ebebeb solid;
  width: $navigation-width;
  padding: 30px;
  box-sizing: border-box;
  @include order(-1);

  button.notifications {
    backgroud-color: #00CCFF;
    font-size: 14px;
  }
}

.navigation__inner {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.navigation__inner--last {
  padding-bottom: none;
}

.navigation__inner__logo {
  flex-grow: 1;
}

.logo {
  display: block;
  -webkit-transition: background-color .3s ease-in-out;

    span {
      background: asset-data-url('logo.svg') top right no-repeat;
      height: 35px;
      display: inline-block;
      width: 80px;
      overflow: hidden;
      text-indent: -999999px;
      line-height: 1;
    }

    i {
      background: asset-data-url('anchor.svg') center center no-repeat;
      display: inline-block;
      width: 40px;
      height: 40px;
      -webkit-transition: -webkit-transform .3s ease-in-out;
      margin-right: .25rem;
      vertical-align: bottom;
    }
  &:hover i {
    -webkit-transform: rotate(-25deg);
  }
}

.stack {
  padding: 2.25rem 0;
  + .stack { border-top: 1px solid rgba(#fff, .1); }
}

.sidebar-plugins-outer {
  // width: $navigation-width;
  overflow: hidden;
}

.sidebar-plugins {
  // width: $navigation-width + 15px;
  overflow-y: auto;
}

.sidebar-plugins::-webkit-scrollbar {
  display: none;
}

.sidebar-plugins-outer.fixed {
  position: fixed;
  top: 0px;
}

.sidebar-plugin {
  max-width: 280px;
  padding: 10px;
  clear: both;
}
