.sidebar {
  background-color: #2e343a;
  width: 300px;
  box-sizing: border-box;
  padding: 0 3.75rem 0 5rem;
  flex: 0 0 300px;
  order: -1;
}

.inner-sidebar {
  padding-top: 5rem;
  padding-bottom: 5rem;
}


  .logo {
    border-bottom: 1px solid rgba(#fff, .1);
    display: block;
    padding-bottom: 2.25rem;

      span {
        background: asset-data-url('logo.svg') top right no-repeat;
        height: 35px;
        display: inline-block;
        width: 80px;
        overflow: hidden;
        text-indent: -999999px;
        line-height: 1;
      }

      i {
        background: asset-data-url('anchor.svg') center center no-repeat;
        display: inline-block;
        width: 40px;
        height: 40px;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        margin-right: .25rem;
      }
    &:hover i {
      -webkit-transform: rotate(-25deg);
    }
  }


.stack {
  padding: 2.25rem 0;
  + .stack { border-top: 1px solid rgba(#fff, .1); }
}

  nav ul {
    list-style-type: none;
    margin: 0; padding: 0;
  }

    .nav-item + .nav-item {
        margin-top: 2rem;
    }

      .platform {
        color: rgba(#fff, .8);
        line-height: 1em;
        margin-bottom: .25em;
        display: block;
      }

        .server {
          position: relative;
          a {
            color: rgba(#fff, .6);
            font-size: .875rem;
            display: block;
            padding: .25em 0;
            text-transform: capitalize;
              &:hover, &:focus {
                color: rgba(#fff, .8);
              }
          }
          &.selected a {
              &:before {
                content: ">";
                font-family: "Checkout Symbols";
                font-size: .875rem;
                position: absolute; left: -1rem;
                color: $blue;
                display: block;
                left: -1.125rem;
                display: block;
                padding-left: .25em;
              }
          }
        }
