// Custom bootstrap variables must be set or import before bootstrap itself.
@import "bootstrap";

body {
  padding-top: 5rem;
}

.navbar-brand {
  background: asset-data-url('anchor.svg') center center no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  transition: transform .3s ease-in-out;
  text-indent: -9999px;
  top: 50%;
  right: 100%;
  margin-right: 1em;

  &:hover {
    transform: rotate(-25deg);
  }
}
