.commit-lst {
  list-style-type: none;
  margin: 0; padding: 0;
}

  .commit-lst li {
    padding: .75rem 0;
    border-bottom: 1px solid rgba(#000, .05);
    @include clearfix;
      &:last-child { border: none; }
  }

  .status {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-right: 1rem;
    border: 2px solid #ccc;
      i { background: asset-data-url("default.svg") center center no-repeat; }

      &.pending, &[data-deploy-status=pending],
      &.running, &[data-deploy-status=running] {
        border: 2px solid $blue;
        i { background: asset-data-url("pending.svg") center center no-repeat; -webkit-animation: rotate 2s linear infinite; }
      }
      &.success, &[data-deploy-status=success] {
        border: 2px solid $green;
        i { background: asset-data-url("success.svg") center center no-repeat; }
      }
      &.failure, &[data-deploy-status=failure],
      &.failed, &[data-deploy-status=failed],
      &.error, &[data-deploy-status=error] {
        border: 2px solid $red;
        i { background: asset-data-url("failure.svg") center center no-repeat; }
      }

    i {
      text-indent: -99999999px;
      overflow: hidden;
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      display: block;
    }

    img {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border: 2px solid #fff;
      position: absolute; bottom: -0.55rem; right: -0.25rem;
    }

  }

  .event {
    float: left;
    padding: .2rem 0;
    max-width: calc(100% - 170px);
    text-overflow: ellipsis;
    white-space: nowrap;
	  overflow: hidden;
  }

    .event-meta {
      font-size: .75rem;
      display: block;
      color: #999;

      .user {
        font-weight: 500;
        color: #777;
          &:hover { color: $blue; }
      }

    }

    .event-title {
      font-size: 1.125rem;
        a { color: inherit; }
    }

    .event-number {
      color: #999;
        a {
          color: inherit;
            &:hover { color: $blue; }
        }
    }

  .deploy-action {
    margin: 0;
    float: right;
  }

  .sub-commits {
    padding: .75rem 0;
    .avatar {
      width: 1.5rem; height: 1.5rem;
      background-color: #ccc;
    }
    li {
      padding: .5rem 0;
      border-bottom: none;
    }
    .event-title {
      font-size: 1rem;
      font-weight: normal;
    }
    .accessory {
      float: right;
      font-size: .875rem;
    }
  }

  .avatar {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    margin-right: .75rem;
    float: left;
      img {
        max-width: 100%;
        border-radius: 50%;
      }
  }

  .submit-section {
    border-top: 1px solid rgba(0,0,0,.05);
    margin-top: 0rem;
    text-align: center;
    padding: 4rem 0;
    padding-top: 6rem;
  }

.setting-section {
  padding: 1.75rem 0;
    & + .setting-section { border-top: 1px solid rgba(#000, 0.05); }

    p { color: #777; }

}
