.deploy-checklist {
  list-style-type: none;
  padding: 0;
  margin-top: 1.5rem;
}

.deploy-checklist__item {
  margin-bottom: 1rem;
  display: flex;
}

.variables-header {
  margin: 1rem 0;
  padding-top: 1rem;
}

.variables-fields {
  input {
    display: inline-block;
    width: inherit;
    margin-right: 1rem;
  }
}

.deploy-checklist__item__label {

}

.deploy-checklist__item__checkbox {
  margin-right: 1rem;
  flex-shrink: 0;
}

.action-button {
  margin: 0 0.5rem;

  display: none;
  &[data-status="running"], &[data-status="aborting"] { display: inline-block; }

  .caption--pending {
    display: none;
  }

  &.pending {
    .deploy-action {
      cursor: default;
    }
    .caption--ready {
      display: none;
    }
    .caption--pending {
      display: inline;
    }
  }
}

.deploy-banner {
  background-color: #f0f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;

  .deploy-banner-section {
    padding: .95rem 1.5rem 1.125rem;
  }

  .action-buttons {
    flex: none;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &[data-status="running"]:before,
  &[data-status="aborting"]:before {
    content: "";
    background-color: $blue;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    position: absolute;
    z-index: 9999;
    -webkit-animation: loading-slide 1.2s linear infinite;
  }

  .deploy-status {
    color: #8f9498;
  }
  .short-sha {
    background: #e6eaed;
    font-family: Menlo, monospace;
    color: #9cacbb;
    border-radius: 4px;
    font-size: .875rem;
    padding: .25em .45em;
  }
}

@include keyframes(loading-slide) {
  0% { width: 0%; left: 0%; }
  30% {  left: 0%; }
  100% { width: 50%; left: 100%; }
}

.code-preview {
  margin: 1.5rem 0;
}

.sidebar.enabled + .deploy-main {
  margin-left: 300px;

  .deploy-banner.sticky {
    box-sizing: border-box;
    margin-left: 300px;
  }
}

.sidebar {
  background-color: $slate;
  color: white;
  overflow: hidden;
  height: 100%;
  position: absolute;
  width: 0px;
  &.enabled {
    width: 300px;
  }
  &.sticky {
    top: 0;
    position: fixed;
  }
}

.sidebar-plugins {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
  padding-left: 15px;
}

.commit-checks {
  border: .25rem solid $terminal-black;
  &[data-status="success"] {
    border-color: $green;
  }

  &[data-status="failure"],
  &[data-status="error"] {
    border-color: $bright-red;
  }

  &[data-status="scheduled"],
  &[data-status="running"] {
    border-color: $dark_yellow;
  }
}

.monitoring-panel {
  display: inline-block;
  iframe {
    border: none;
  }
}
