.deploy-checklist {
  list-style-type: none;
  padding: 0;
  margin-top: 1.5rem;
}

.deploy-checklist__item {
  margin-bottom: 1rem;
}

.deploy-checklist__item__label {
  display: flex;
}

.deploy-checklist__item__checkbox {
  margin-right: 1rem;
  flex-shrink: 0;
}


.rolling-back {
  background-color: $light-red;
}

.deploy-abort {
  margin-left: 100px;
  display: none;
  &[data-task-status="running"] { display: inline-block; }

  text-align: center;
  .deploy-action {
    text-align: center;
    display: block;
    &.pending {
      .ready { display: none; }
      .disabled { display: inline; }
    }
    .ready { display: inline; }
    .disabled { display: none; }
  }
}

.deploy-banner {
  background-color: #f0f4f7;
  overflow: hidden;
  padding: .95rem 0 1.125rem;
  position: relative;

    &.sticky {
      position: fixed;
      top: 0;
      width: 100%;
    }

    &[data-task-status="running"]:before {
      content: "";
      background-color: $blue;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      position: absolute;
      z-index: 9999;
      -webkit-animation: loading-slide 1.2s linear infinite;
    }

    .deploy-status {
      color: #8f9498;
    }
    .short-sha {
      background: #e6eaed;
      font-family: Menlo, monospace;
      color: #9cacbb;
      border-radius: 4px;
      font-size: .875rem;
      padding: .25em .45em;
    }
}

@include keyframes(loading-slide) {
  0% { width: 0%; left: 0%; }
  30% {  left: 0%; }
  100% { width: 50%; left: 100%; }
}

pre.nowrap {
  white-space: pre;
}

.sidebar.enabled + .deploy-main {
  margin-left: 300px;
  .deploy-banner .wrapper {
    width: 100%;
    margin: 0 1.5rem;
  }
}

.sidebar {
  background-color: $slate;
  color: white;
  overflow-y: scroll;
  height: 100%;
  position: absolute;
  width: 0px;
  &.enabled {
    width: 300px;
  }
  &.sticky {
    top: 0;
    position: fixed;
  }
}
