.deploy-checklist {
  list-style-type: none;
  padding: 0;
  margin-top: 1.5rem;
}

.deploy-checklist__item {
  margin-bottom: 1rem;
  display: flex;
}

.variables-header {
  margin: 1rem 0;
  padding-top: 1rem;
}

.variables-fields {
  input, select {
    display: inline-block;
    width: inherit;
    margin-right: 1rem;
  }
}

.deploy-checklist__item__label {

}

.deploy-checklist__item__checkbox {
  margin-right: 1rem;
  flex-shrink: 0;
}

.action-button {
  margin: 0 0.5rem;

  display: none;
  &[data-status="running"], &[data-status="aborting"] { display: inline-block; }

  .caption--pending {
    display: none;
  }

  &.pending {
    .deploy-action {
      cursor: default;
    }
    .caption--ready {
      display: none;
    }
    .caption--pending {
      display: inline;
    }
  }
}

.task-output-container.task-output-container-main-page {
  height: calc(100vh - 9rem - 4rem - 1px); // .header and .deploy-banner. -1px is to floor the result
}

.output-line {
  height: 1.5rem;
}

.deploy-banner {
  height: 4rem;
  background-color: #f0f4f7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  overflow-x: hidden;

  .deploy-banner-section {
    display: inline-block;
    padding: .75rem 1.5rem;
  }

  .stack-link {
    display: none;
  }

  .action-buttons {
    flex: none;
  }

  .deploy-banner-status {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &[data-status="failure"],
  &[data-status="error"] {
    .deploy-banner-status {
      background-color: color(red, bright);
      width: 100%;
    }
  }

  &[data-status="aborted"],
  &[data-status="flapping"] {
    .deploy-banner-status {
      background-color: color(orange);
      width: 100%;
    }
  }

  &[data-status="success"] .deploy-banner-status {
    background-color: color(green);
    width: 100%;
  }

  &[data-status="running"] .deploy-banner-status {
    background-color: color(blue);
    width: 0%;
    z-index: 9999;
    -webkit-animation: loading-slide 1.2s linear infinite;
  }

  &[data-status="aborting"] .deploy-banner-status {
    background-color: color(orange);
    width: 0%;
    z-index: 9999;
    -webkit-animation: loading-slide 1.2s linear infinite;
  }

  .deploy-status {
    color: #8f9498;
  }
  .short-sha {
    background: #e6eaed;
    font-family: Menlo, monospace;
    color: #9cacbb;
    border-radius: 4px;
    font-size: .875rem;
    padding: .25em .45em;
  }
}

.search-bar {
  background-color: #f0f4f7;
  border: 1px solid #f0f4f7;
  position: absolute;
  right: 0px;
  padding: .125rem;
  border-bottom-left-radius: .25rem;

  input[type="search"] {
    width: 300px;
  }
}

@include keyframes(loading-slide) {
  0% { width: 0%; left: 0%; }
  30% {  left: 0%; }
  100% { width: 50%; left: 100%; }
}

.code-preview {
  margin: 1.5rem 0;
}

.sidebar.enabled + .deploy-main {
  margin-left: 300px;
}

.sidebar {
  background-color: color(slate);
  color: white;
  overflow: hidden;
  height: calc(100vh - 9rem - 1px); // .header. -1px is to floor the result
  position: absolute;
  width: 0px;
  &.enabled {
    width: 300px;
  }
}

.sidebar-plugins {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
  padding-left: 15px;
}

.commit-checks {
  border: .25rem solid color(slate, dark);
  &[data-status="success"] {
    border-color: color(green);
  }

  &[data-status="failed"],
  &[data-status="failure"],
  &[data-status="error"] {
    border-color: color(red, bright);
  }

  &[data-status="scheduled"],
  &[data-status="running"] {
    border-color: color(yellow, dark);
  }
}

.monitoring-panel {
  display: inline-block;
  iframe {
    border: none;
  }
}
