// =============================================================================
// SETTINGS PAGE
// =============================================================================

.setting-section {
  padding: 2rem 0;

  & + & {
    border-top: 1px solid #e5e5e5;
  }

  .form-hint {
    font-size: smaller;
    font-style: italic;
  }

  .ccmenu-url {
    width: 85%;
  }

  .hidden {
    display: none;
  }

  .field-list {
    margin-bottom: 1.5rem;

    input[type=text] {
      display: inline;
      width: 200px;
    }
  }
  .field-invalid {
    border: 2px solid red;
  }
}
