// =============================================================================
// SETTINGS PAGE
// =============================================================================

.setting-section {
  padding: 2rem 0;

  & + & {
    border-top: 1px solid #e5e5e5;
  }

  .form-hint {
    font-size: smaller;
    font-style: italic;
  }
}
