.stack-search {
  -webkit-appearance: none;
  width: 100%;
  @extend h1;
  border: none;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  background: asset-data-url('search.svg') no-repeat center right;
  &::-webkit-input-placeholder {
    color: #B5C0CA;
  }
  &:focus {
    outline: none;
    background-image: asset-data-url('search-active.svg');
  }
}

.stack-table-header {
  @include clearfix;
  margin: 0; padding: 1.25rem 0 1rem;
  .col {
    width: 25%;
    float: left;
  }
  li {
    list-style-type: none;
    font-size: .875em;
    color: #BAC5D1;
  }
}

.stack-lst {
  list-style-type: none;
  margin: 0; padding: 0; margin-bottom: 1.5rem;
    .col {
      width: 25%;
      float: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding-right: .5rem;
      box-sizing: border-box;
    }
    .undeployed {
      background-image: asset-data-url('ship.png');
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: 0px center;
      padding-left: 30px;
      margin-left: -30px;
    }
    .archived {
      // From FontAwesome, license @ https://fontawesome.com/license/free
      background-image: asset-data-url('archive-solid.svg');
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: 0px center;
      padding-left: 30px;
      margin-left: -30px;
    }
    .auto-provisioned {
      // From FontAwesome, license @ https://fontawesome.com/license/free
      background-image: asset-data-url('magic-solid.svg');
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: 0px center;
      padding-left: 30px;
      margin-left: -30px;
    }
}

.stack-lst:empty:before {
  content: "No environment to deploy to, Shipit Squirrel is displeased";
}

.stack-lst li {
  &:nth-child(even) a {
    background-color: lighten(#EDF1F3, 3.5%);
  }

  &.selected a {
    background-color: $blue;
    outline: none;
    span { color: #fff; }
    small { color: rgba(#fff, .8); }
  }

  a {
  padding: .35rem;
  margin-left: -0.35rem; margin-right: -0.35rem;
  @include clearfix;
  border-radius: 4px;
  display: block;
    &:hover, &:focus {
      background-color: $blue;
      outline: none;
      span { color: #fff; }
      small { color: rgba(#fff, .8); }
    }
  }
}

.commits-path {
  font-size: 18px;
  span {
    text-transform: capitalize;
  }
  small {
    font-size: 18px;
    color: #8D9EB0;
  }
}

.stack-search input {
  margin-left: 4%;
  width: 92%;
  padding: 6px;
  font-size: larger;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  outline: 0;
  border: 1px #a0a0a0 solid;
}

.stack-search-header {
  display: none;
}

.show-all-stacks {
  display: none;
}

.filtering-enabled {
  .show-all-stacks {
    display: inline-block;
  }

  .stack-search-header {
    display: block;
  }
  .search-item.not-matching {
    display: none;
  }
}

.message {
  background-color: #E2F1FF;
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 { font-weight: bold; padding-bottom: 10px; }
  p { margin: 0px; }
}

.configure-ci, .ignoring-ci {
  background-color: #E2F1FF;
  padding-top: 20px;
  padding-bottom: 20px;

  p { font-weight: bold; }
}

.new_stack {
  input.repo {
    width: 200px;
    display: inline;

    &:focus {
      padding-right: 30px !important;
    }
  }
  input:focus {
    border-color: $blue;
  }
}

.pagination {
  text-align: center;
}

.box {
  border-radius: 5px;
  width: 32%;
  float: left;
  padding: 5px;
}

.box__header {
  padding: 15px 25px;
  position: relative;
}

.box__header-title {
  color: #333;
  font-size: 18px;
}

.box__body {
  padding: 0 25px;
}

.row {
  @include clearfix;
}

.auto-provisioned {
  // From FontAwesome, license @ https://fontawesome.com/license/free
  background-image: asset-data-url('magic-solid.svg');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position: 0px center;
  padding-left: 30px;
  margin-left: -30px;
}

/* STATS */

.stats {
  color: #333;
  position: relative;
  padding-bottom: 25px;
}

.stats__amount {
  font-size: 54px;
  line-height: 1.2;
}

.stats__caption {
  font-size: 18px;

}

.stats__change {
  position: absolute;
  top: 10px;
  right: 0;
  text-align: right;
  color: #B1B7C8;
}

.stats__value {
  font-size: 18px;
}

.stats__period {
  font-size: 14px;
}

.stats__value--positive {
  color: #AEDC6F;
}

.stats__value--negative {
  color: #FB5055;
}
