.stack-lst {
  list-style-type: none;
  margin: 0; padding: 0;
}

.stack-lst:empty:before {
  content: "No environment to deploy to, Shipit Squirrel is displeased";
}

  .stack-lst li {
    padding: .35rem;
    @include clearfix;
      &:nth-child(odd) {
        background-color: lighten(#EDF1F3, 3.5%);
      }
      &:last-child { margin-bottom: 30px }
      &:hover { background-color: #EDF1F3; }
  }

    .commits-path {
      font-size: 18px;

      small {
        font-size: 18px;
        color: lighten(#9cacbb, 10%);
      }
    }


.stack-search input {
  margin-left: 4%;
  width: 92%;
  padding: 6px;
  font-size: larger;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  outline: 0;
  border: 1px #a0a0a0 solid;
}

.search-hint {
  display: none;
  color: #a0a0a0;
  font-size: smaller;

  span {
    color: #808080;
  }
}
