<p class="status-heading text-red">
  <%= render 'warning_icon' %>
  Consider rebasing into a smaller number of commits containing atomic changes. Find out
  <%= link_to 'why', 'https://docs.google.com/document/d/1lZlNo7ekugQDxug6Nc6pdY87VNobl3g2IQjY7R0YIIc',
    target: '_blank',
    rel: 'noopener'
  %>.
</p>
