<div class="branch-action-item">
  <div class="branch-action-item-icon completeness-indicator">
    <%= render 'anchor', color: '#bd2c00' %>
  </div>
  <h4 class="status-heading text-red">
    Please log in to <%= link_to Shipit.app_name, '/', target: '_blank', rel: 'noopener' %>
  </h4>
  <span class="status-meta">
    Here Comes The Walrus is unable to check merge status.
  </span>
</div>
