<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag *(params[:stylesheets] || []).select { |url| url.start_with?('https://assets-cdn.github.com/') } %>
    <%= stylesheet_link_tag 'merge_status' %>
  </head>
  <body>
    <div class="merge-status-container" data-layout-content><%= yield %></div>
    <%= javascript_include_tag 'merge_status' %>
  </body>
</html>
