<a href="<%= github_user_url(commit.author.login) %>" class="commit-author">
  <%= github_avatar(commit.author, size: 80, class: 'commit-author__avatar') %>
  <div class="commit-author__name">
    <span class="commit-author__name__real-name"><%= commit.author.name %></span>
    <span class="commit-author__name__username"><%= commit.author.login %></span>
  </div>
</a>
